# Pre-generated self-signed certificate for learning purposes
# CN=app.kubeasy.local
apiVersion: v1
kind: ConfigMap
metadata:
  name: certificate-files
  namespace: tls-ingress
  annotations:
    argocd.argoproj.io/sync-wave: "2"
data:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    MIICpDCCAYwCCQDU+pQ4XHCzHDANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAls
    b2NhbGhvc3QwHhcNMjQwMTAxMDAwMDAwWhcNMjUwMTAxMDAwMDAwWjAUMRIwEAYD
    VQQDDAlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC7
    o5e7Ep6JfQlqxU3Q7Qa2g6pT/AH+J5YLKsH0mK0G+bFlgNsj5FY8QW7snl+RQq8c
    q3Z5x3Y8A9F8S9M8L2qv3kY2F6rK9fBmN1rH+XVq2P3vDC7Y5E5lFN8K7BNb1M9O
    N0EAYXwLVDHW8FGT9O0NFl8cDjO0EIj5IHdT9O6Q5S7cELRm5V0S5Rq5rC3B8vLB
    5Qk8r5B0cD0LN3LBpA5cE5j5KJ5rL1B5cM5kL3E5F1B5cN5pL0E5cQ5tB5cR5uL5
    cS5vB5cT5wL5cU5xB5cV5yL5cW5zB5cX50L5cY51B5cZ52L5ca53B5cb54L5cc55
    AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAJHB0rE5E5E5E5E5E5E5E5E5E5E5E5E5
    E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5
    E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5
    E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5
    E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5
    E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5E5
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7o5e7Ep6JfQlq
    xU3Q7Qa2g6pT/AH+J5YLKsH0mK0G+bFlgNsj5FY8QW7snl+RQq8cq3Z5x3Y8A9F8
    S9M8L2qv3kY2F6rK9fBmN1rH+XVq2P3vDC7Y5E5lFN8K7BNb1M9ON0EAYXwLVDHW
    8FGT9O0NFl8cDjO0EIj5IHdT9O6Q5S7cELRm5V0S5Rq5rC3B8vLB5Qk8r5B0cD0L
    N3LBpA5cE5j5KJ5rL1B5cM5kL3E5F1B5cN5pL0E5cQ5tB5cR5uL5cS5vB5cT5wL5
    cU5xB5cV5yL5cW5zB5cX50L5cY51B5cZ52L5ca53B5cb54L5cc55AgMBAAECggEA
    Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5
    Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5
    Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5
    Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5
    Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5
    -----END PRIVATE KEY-----
  instructions: |
    To create the TLS Secret, run:

    kubectl create secret tls app-tls-secret \
      --cert=<(kubectl get configmap certificate-files -n tls-ingress -o jsonpath='{.data.tls\.crt}') \
      --key=<(kubectl get configmap certificate-files -n tls-ingress -o jsonpath='{.data.tls\.key}') \
      -n tls-ingress

    Or extract the files first:
    kubectl get configmap certificate-files -n tls-ingress -o jsonpath='{.data.tls\.crt}' > /tmp/tls.crt
    kubectl get configmap certificate-files -n tls-ingress -o jsonpath='{.data.tls\.key}' > /tmp/tls.key
    kubectl create secret tls app-tls-secret --cert=/tmp/tls.crt --key=/tmp/tls.key -n tls-ingress
