apiVersion: v1
kind: Service
metadata:
  name: web-app-service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: web-app
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP