apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: startup-check-binding
  annotations:
    argocd.argoproj.io/sync-wave: "1"
subjects:
  - kind: ServiceAccount
    name: startup-checker
roleRef:
  kind: Role
  name: startup-check-role
  apiGroup: rbac.authorization.k8s.io