apiVersion: v1
kind: Pod
metadata:
  name: test-connectivity
  labels:
    app: test-client
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  containers:
    - name: curl
      image: curlimages/curl:8.5.0
      command:
        - sleep
        - "3600"
      resources:
        requests:
          cpu: "10m"
          memory: "16Mi"
        limits:
          cpu: "50m"
          memory: "32Mi"
